/* external CSS helps to organize stuff */

.coffee::selection {
    background-color: #4A3F35;
    color: #FCF5EF;
}

.main::selection {
    background-color: #000000;
    color: #ffffff;
}

body {
    background-color: #FCF5EF;
    font-family: 'Poppins';
}

h1 {
    text-align: center;
    font-size: 50px;
    color: #4A3F35;
    text-shadow: 2px 2px 4px rgba(74, 63, 53, 0.3);
    transition: transform 0.4s ease;
}          

h3 {
    font-size: 20px;
    color: #4A3F35;
    font-weight: normal;
}

a {
    color: #4A3F35;
   text-decoration:none;
}

#mouse {
    width: 60px;
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

#cat {
    width: 100px;
     position: absolute;
     transform: translate(-50%, -50%);
     pointer-events: none;
}
    
#mouseChaseButton {
    position: fixed;
    bottom: 80px;
    left: 50%;
    transform: translateX(-50%);
    
    width: 200px;
    height: 50px;
    background-color: #F7E7DC;
    border: none;
    color: #4A3F35;
    font-size: 30px;
    box-shadow: 2px 2px 4px rgba(74, 63, 53, 0.3);
    transition: transform 0.4s ease;
    z-index: 9999;
}

#mouseChaseButton:hover {
    box-shadow: 2px 2px 4px rgba(74, 63, 53, 0.6);
    background-color: #4A3F35;
    color: #FCF5EF;
}

#mouseChaseTimer {
    position: fixed;
    bottom: 20px;  
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
}

            
button {
    width: 100%;
    height: 50px;
    background-color: #F7E7DC;
    border: none;
    color: #4A3F35;
    font-size: 30px;
    box-shadow: 2px 2px 4px rgba(74, 63, 53, 0.3);
    transition: transform 0.4s ease;
}   

button:hover {
    box-shadow: 2px 2px 4px rgba(74, 63, 53, 0.6);
    background-color: #4A3F35;
    color: #FCF5EF;
}

.seoText {
  position: absolute;
  left: -9999px;
  top: -9999px;
}
